<h1 class="text-center">Login</h1>
<div style="margin: 0 25%; width: 50%">
  <%= form_with(scope: :sessions, url: login_path) do |form| %>
  <div class="mb-3">
    <%= form.label :username, "Username:", class:"form-label" %> <%=
    form.text_field :username, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :password, "Password:", class:"form-label" %> <%=
    form.password_field :password, class:"form-control" %>
  </div>
  <div>
    <%= form.submit("Login", class:"btn btn-success") %> <% end %>
    <%= link_to "Sign Up", signup_path, class:"btn" %>
  </div>
</div>