<div style="margin: 0 25%: width: 50%">
  <%= render 'shared/errors', obj: @user %> <%= form_with(model: @user) do
  |form| %> <% end %>
  <div class="mb=3"></div>
</div>

<div style="margin: 0 25%; width: 50%">
  <%= form_with(model: @user) do |form| %>
  <div class="mb-3">
    <%= form.label :username, "Username:", class:"form-label" %>
    <%=form.text_field :username, class:"form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :password, "Password:", class:"form-label" %>
    <%= form.password_field :password, class:"form-control" %>
  </div>
  <%= form.submit "Sign up", class:"btn btn-primary" %> <% end %>
</div>