<div style="margin: 0 25%; width: 50%">
  <%= render 'shared/errors', obj: @supply %> <%= form_with(model: @supply) do
  |form| %>
  <div class="mb-3"></div>
</div>

<div style="margin: 0 25%; width:50%">
  <%= form_with(model: @supply) do |form| %>
    <div class="mb-3">
      <%= form.label :name, "Name:", class:"form-label" %> 
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :amount, "Amount:", class:"form-label" %>
      <%=form.text_field :amount, class:"form-control" %>
    </div>
    <%= form.submit(@supply.new_record) ? "Save Supply" : "Update Supply", class:"btn btn-primary" %> 
  <% end %>
</div>